body {
  margin: 0;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* background colors
template colors */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: lust-display, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px 0;
  display: inline-block;
  /* Add an underline to fill up gap between h1 and proceeding content. */
}

h2 {
  font-family: lust-display, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 3rem;
}

p {
  font-family: 'Cartograph CF', 'Courier New', Courier, monospace;
  line-height: 2.85ex;
}

/* shapes and buttons */

/* input fields */

/* Media queries */