@font-face {
  font-family: 'LeituraDisplay-Roman';
  src: local('LeituraDisplay-Roman')
      url('./assets/webfonts/LeituraDisplay-Roman/font.woff2') format('woff2'),
      url('./assets/webfonts/LeituraDisplay-Roman/font.woff') format('woff');
}

@font-face {
  font-family: 'LeituraDisplay-Italic';
  src: local('LeituraDisplay-Italic')
    url('./assets/webfonts/LeituraDisplay-Italic/font.woff2') format('woff2'),
    url('./assets/webfonts/LeituraDisplay-Italic/font.woff') format('woff');
}

@font-face {
  font-family: 'LeituraDisplay-Swashes';
  src: local('LeituraDisplay-Swashes')
    url('./assets/webfonts/LeituraDisplay-Swashes/font.woff2') format('woff2'),
    url('./assets/webfonts/LeituraDisplay-Swashes/font.woff') format('woff');
}
